<p id="notice"><%= notice %></p>

<h4>Search By User</h4>
<%= form_for(users_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Submit" %>
<% end %>

<h1>Users</h1>

<% @users.each do |user| %>
    <%= user.username %>
    <%= user.email %>
    <%= user.password %>
    <%= link_to "Show", user %>
    <%= link_to "Edit", edit_user_path(user) %>
    <%= link_to "Destroy", user, method: :delete, data: {confirm: "Sure?"} %>
    <br>

<% end %>

<%= link_to "New user", new_user_path %>