<p id="notice"><%= notice %></p>

<h4>Search By User</h4>
<%= form_for(planets_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Submit" %>
<% end %>

<h1>Planets</h1>

<% @planets.each do |planet| %>
    <%= planet.name %>
    <%= planet.size %>
    <%= planet.life %>
    <%= planet.system_id %>
    <%= planet.galaxy_id %>
    <%= planet.user_id %>
    <%= link_to "Show", planet %>
    <%= link_to "Edit", edit_planet_path(planet) %>
    <%= link_to "Destroy", planet, method: :delete, data: {confirm: "Sure?"} %>
    <br>

<% end %>

<%= link_to "New Planet", new_planet_path %>