<p id="notice"><%= notice %></p>
<h2>Show Page</h2>

<p>Name: <%= @planet.name %><p>
<p>Size: <%= @planet.size %><p>
<p>Life: <%= @planet.life %><p>
<p>system_id: <%= @planet.system_id %><p>
<p>galaxy_id: <%= @planet.galaxy_id %><p>
<p>user_id: <%= @planet.user_id %><p>

<h3>System:</h3>
    <%= link_to "@planet.system.name", system_path %>