<p id="notice"><%= notice %></p>
<h2>Show Page</h2>

<p>Name: <%= @planet.name %><p>
<p>Size: <%= @planet.size %><p>
<p>Life: <%= @planet.life %><p>
<p>System: <%= link_to @planet.system.name, @planet.system %><p>
<p>Galaxy: <%= link_to @planet.galaxy.name, @planet.galaxy %><p>
<p>User: <%= link_to @planet.user.username, @planet.user %><p>

<h3>System:</h3>
    <%= link_to @planet.system.name, system_path %>
<h3>Galaxy:</h3>
    <%= link_to @planet.galaxy.name, galaxy_path %>