<%= form_with(model: galaxy, local: true) do |f| %>
    <% if galaxy.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(galaxy.errors.count, "error") %> stopped you just from saving to the DB</h2>
            <ul>
            <% galaxy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
            </ul>
        </div>
    <% end %>

    <%= f.hidden_field :user_id %>

    <div class="field">
        <%=f.label :name %>
        <%=f.text_field :name %>
    </div>

    <div class="field">
        <%=f.label :user_id %>
        <%=f.text_field :user_id %>
    </div>

    <div class="actions">
        <%= f.submit %>
    </div>
<% end %>