<p id="notice"><%= notice %></p>

<h1>Galaxies</h1>

<% @galaxies.each do |galaxy| %>
    <%= galaxy.name %>
    <%= galaxy.user_id %>
    <%= link_to "Show", galaxy %>
    <%= link_to "Edit", edit_galaxy_path(galaxy) %>
    <%= link_to "Destroy", galaxy, method: :delete, data: {confirm: "Sure?"} %>
    <br>

<% end %>

<%= link_to "New Galaxy", new_galaxy_path %>