<p id="notice"><%= notice %></p>

<h4>Search By User</h4>
<%= form_for(galaxies_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Submit" %>
<% end %>

<h1>Galaxies</h1>

<% @galaxies.each do |galaxy| %>
    <%= galaxy.name %>
    <%= galaxy.user_id %>
    <%= link_to "Show", galaxy %>
    <%= link_to "Edit", edit_galaxy_path(galaxy) %>
    <%= link_to "Destroy", galaxy, method: :delete, data: {confirm: "Sure?"} %>
    <br>

<% end %>

<%= link_to "New Galaxy", new_galaxy_path %>