<p id="notice"><%= notice %></p>

<h4>Search By User</h4>
<%= form_for(systems_path, method: :get) do %>
    <%= text_field_tag(:search, params[:search]) %>
    <%= submit_tag "Submit" %>
<% end %>

<h1>Systems</h1>

<% @systems.each do |system| %>
    <%= system.name %>
    <%= system.star %>
    <%= system.galaxy_id %>
    <%= system.user_id %>
    <%= link_to "Show", system %>
    <%= link_to "Edit", edit_system_path(system) %>
    <%= link_to "Destroy", system, method: :delete, data: {confirm: "Sure?"} %>
    <br>

<% end %>

<%= link_to "New System", new_system_path %>