<p id="notice"><%= notice %></p>
<h2>Show Page</h2>

<p>Name: <%= @system.name %><p>
<p>Star: <%= @system.star %><p>
<p>Galaxy: <%= link_to @system.galaxy.name, @system.galaxy %><p>
<p>User: <%= link_to @system.user.username, @system.user %><p>

<h3>Planets:</h3>
<%= link_to "New Planet", new_user_planet_path(@system.user) %>
<br>
<% @system.planets.each do |planet| %>
    <%= link_to planet.name, planet_path %>
<% end %>
<h3>Galaxy:</h3>
    <%= link_to @system.galaxy.name, @system.galaxy %>